<div id="{{ cp.id }}" class="cp hashel" data-obj="{{ cp.obj }}" data-view_type="{{ cp.view_type }}" data-view_nome="{{ cp.view_nome }}">
  <div class="cp-box">
    <div class="cp-header">
      <a class="cp-header-item">{{ cp.header }}</a>
      <a class="cp-header-item cp-button" data-action="hide"></a>
    </div>
    
    <div class="cp-content">
      {% block cp_content %}{% endblock %}
    </div>
    
    <div class="cp-footer">
      {% block cp_footer %}{% endblock %}
      <a class="cp-footer-item cp-button" data-action="hide">Chiudi</a>
    </div>
  </div>
</div>