{% extends 'cp.html' %}

{% block cp_content %}
  <div class="cp-block">
    <div class="cp-selector">
      <a class="cp-selector-field" data-action="form_evento">Nuovo Evento</a>
      <a class="cp-selector-field" data-action="form_evento_select">Evento Esistente</a>
    </div>
    
    <div class="cp-form form_evento">
      {% include 'form/evento.html' %}
    </div>
    
    <div class="cp-form form_evento_select">
      <form id="form_evento_select" action="javascript:void(0)">
        <div class="cp-field-block block-4">
          <div class="cp-field {{ form_evento_select.evento.name }} evento_select">
            <label for="{{ form_evento_select.evento.id_for_label }}">{{ form_evento_select.evento.label }}</label>
            {{ form_evento_select.evento }}
          </div>
          
          <div class="cp-field submit">
            <button class="action-button submit-button" type="submit">
              <div class="action-button-text active">Seleziona Evento</div>
              <div class="action-button-animation"></div>
            </button>
          </div>
        </div>
      </form>
    </div>
  
    <div class="cp-form form_file">
      <form id="form_file" class="upload" action="javascript:void(0)" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form_file.evento }}
        
        <div class="cp-field-block block-4">
          <div class="cp-field {{ form_file.file.name }} required">
            <label for="{{ form_evento.file.id_for_label }}">{{ form_file.file.label }}</label>
            <div class="cp-edit">
              {{ form_file.file }}
            </div>
          </div>
          
          <div class="cp-field submit">
            <button class="action-button submit-button" type="submit">
              <div class="action-button-text active">Carica Files</div>
              <div class="action-button-animation"></div>
            </button>
          </div>
          
          <div class="cp-field progress">
            <div class="progress-box">
              <div class="progress-bar">
                <div class="progress-text"></div>
              </div>
            </div>
          </div>
        </div>
        
      </form>
    </div>
    
  </div>
{% endblock %}