{% extends 'base_generic.html' %}

{% block header_extra %}
  {% load static %}
  <script src="{% static 'js/classes.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>
  <script type="text/javascript"> 
    var view_type = "{{view_type}}";
    var view_id = "{{view_id}}";
    var view_nome = "{{view_nome|safe}}";
    var view_msg = "{{view_msg}}";
    var view_hash = "";
  </script>
{% endblock %}

{% block content_hidden %}
  
  {% if cp_eventi %}
    {% with cp=cp_eventi cp_fields=cp_eventi_fields cp_controls=cp_eventi_controls cp_form='form/evento.html' %}
      {% include 'cp_list.html' %}
    {% endwith %}
  {% endif %}
  
  {% if cp_parole %}
    {% with cp=cp_parole cp_fields=cp_parole_fields cp_controls=cp_parole_controls cp_form='form/parola.html' %}
      {% include 'cp_list.html' %}
    {% endwith %}
  {% endif %}
  
  {% if cp_autori %}
    {% with cp=cp_autori cp_fields=cp_autori_fields cp_controls=cp_autori_controls cp_form='form/autore.html' %}
      {% include 'cp_list.html' %}
    {% endwith %}
  {% endif %}
  
  {% if cp_categorie %}
    {% with cp=cp_categorie cp_fields=cp_categorie_fields cp_controls=cp_categorie_controls cp_form='form/categoria.html' %}
      {% include 'cp_list.html' %}
    {% endwith %}
  {% endif %}
  
  {% if cp_utenti %}
    {% with cp=cp_utenti cp_fields=cp_utenti_fields cp_controls=cp_utenti_controls cp_form='form/utente.html' %}
      {% include 'cp_list.html' %}
    {% endwith %}
  {% endif %}
  
  {% if cp_famiglie %}
    {% with cp=cp_famiglie cp_fields=cp_famiglie_fields cp_controls=cp_famiglie_controls cp_form='form/famiglie.html' %}
      {% include 'cp_list.html' %}
    {% endwith %}
  {% endif %}
  
  {% if cp_upload %}
    {% with cp=cp_upload %}
      {% include 'cp_upload.html' %}
    {% endwith %}
  {% endif %}
  
  {% include 'slideshow.html' %}
{% endblock %}

{% block content %}
  {% include 'grid.html' %}
{% endblock %}