{% extends 'base_generic.html' %}

{% block header_extra %}
  {% load static %}
  <script src="{% static 'js/classes.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="login" class="auth">
    <form class="auth-login" name="login" action="javascript:void(0)" method="POST">
      {% csrf_token %}
      
      <div class="auth-field title">Login</div>
      
      <div class="auth-field username">
        <input type="text" name="username" placeholder="Username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="">
      </div>
      
      <div class="auth-field password">
        <input type="password" name="password" placeholder="Password" autocomplete="current-password" required="">
      </div>
      
      <div class="auth-field submit">
        <button class="action-button submit-button" type="submit" action="submit">
          <div class="action-button-text active">Login</div>
          <div class="action-button-animation"></div>
        </button>
      </div>
      
      <div class="auth-field error">
        <div class="error-text">Username o Password Errati</div>
      </div>
      
    </form>
  </div>
{% endblock %}
