<div id="header">
  <div id="navbar">
    <div class="nav-mobile-title">
      {% if user.is_authenticated %}
      <div class="sandwich">
        <div class="bread"></div>
        <div class="fill"></div>
        <div class="bread"></div>
      </div>
      {% endif %}
    </div>
    
    <div class="nav-block-menu">
      <div class="nav-block left">
        {% if user.is_authenticated %}
        <a href="/" class="nav-item select-view view-" data-action="">Tutto</a>
        <a href="/e/" class="nav-item select-view view-e" data-action="e">Eventi</a>
        <a href="/p/" class="nav-item select-view view-p" data-action="p">Parole</a>
        <a href="/a/" class="nav-item select-view view-a" data-action="a">Autori</a>
        <a href="/c/" class="nav-item select-view view-c" data-action="c">Categorie</a>
        {% endif %}
      </div>
      
      <div class="nav-block right">
        {% if user.is_authenticated %}
          <div class="nav-item-list" data-action="liste">
            <a class="nav-menu-title"><div class="text">Liste</div></a>
            <div class="nav-menu">
              {% if cp_eventi %}<a href="#eventi" class="nav-item nav-menu-item select-cp" data-action="eventi">Eventi</a>{% endif %}
              {% if cp_parole %}<a href="#parole" class="nav-item nav-menu-item select-cp" data-action="parole">Parole</a>{% endif %}
              {% if cp_autori %}<a href="#autori" class="nav-item nav-menu-item select-cp" data-action="autori">Autori</a>{% endif %}
              {% if cp_categorie %}<a href="#categorie" class="nav-item nav-menu-item select-cp" data-action="categorie">Categorie</a>{% endif %}
              {% if cp_utenti %}<a href="#utenti" class="nav-item nav-menu-item select-cp" data-action="utenti">Utenti</a>{% endif %}
              {% if cp_famiglie %}<a href="#famiglie" class="nav-item nav-menu-item select-cp" data-action="famiglie">Famiglie</a>{% endif %}
            </div>
          </div>
        
          {% if cp_upload %}<a href="#upload" class="nav-item" data-action="upload">Upload</a>{% endif %}
          <a href="/logout" class="nav-item">Logout</a>
        {% else %}
          <a href="/login/" class="nav-item">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>