{% if cp.id == 'cp-eventi' %}
<div class="cp-list-item cp-list-edit-row model-edit model-create cp-form">
{% endif %}  
  <form id="form_evento" class="save" action="javascript:void(0)">
    {% csrf_token %}
    
    <div class="cp-field-block block-1">
      <div class="cp-field {{ form_evento.data_inizio.name }} required">
        <label for="{{ form_evento.data_inizio.id_for_label }}">{{ form_evento.data_inizio.label }}</label>
        <div class="cp-edit field-data">
          {{ form_evento.data_inizio }}
        </div>
      </div>
      
      <div class="cp-field {{ form_evento.data_multi.name }}">
        <label for="{{ form_evento.data_multi.id_for_label }}">{{ form_evento.data_multi.label }}</label>
        <div class="cp-edit field-data">
          {{ form_evento.data_multi }}
        </div>
      </div>
      
      <div class="cp-field {{ form_evento.data_fine.name }}">
        <label for="{{ form_evento.data_fine.id_for_label }}">{{ form_evento.data_fine.label }}</label>
        <div class="cp-edit field-data">
          {{ form_evento.data_fine }}
        </div>
      </div>
    </div>
    
    <div class="cp-field-block block-2">
      <div class="cp-field {{ form_evento.nome.name }} required">
        <label for="{{ form_evento.nome.id_for_label }}">{{ form_evento.nome.label }}</label>
        <div class="cp-edit">
          {{ form_evento.nome }}
        </div>
      </div>
      
      <div class="cp-field {{ form_evento.luogo.name }}">
        <label for="{{ form_evento.luogo.id_for_label }}">{{ form_evento.luogo.label }}</label>
        <div class="cp-edit">
          {{ form_evento.luogo }}
        </div>
      </div>
      
      <div class="cp-field {{ form_evento.comune.name }}">
        <label for="{{ form_evento.comune.id_for_label }}">{{ form_evento.comune.label }}</label>
        <div class="cp-edit">
          {{ form_evento.comune }}
        </div>
      </div>
    </div>
    
    <div class="cp-field-block block-3">
      <div class="cp-field {{ form_evento.categorie.name }} categorie_select">
        <label for="{{ form_evento.categorie.id_for_label }}">{{ form_evento.categorie.label }}</label>
        <div class="cp-edit">
          {{ form_evento.categorie }}
        </div>
      </div>
      
      <div class="cp-field {{ form_evento.descrizione.name }}">
        <label for="{{ form_evento.descrizione.id_for_label }}">{{ form_evento.descrizione.label }}</label>
        <div class="cp-edit">
          {{ form_evento.descrizione }}
        </div>
      </div>
    </div>
    
    <div class="cp-field-block block-4">
      <div class="cp-field {{ form_evento.famiglie.name }} famiglie_select required">
        <label for="{{ form_evento.famiglie.id_for_label }}">{{ form_evento.famiglie.label }}</label>
        <div class="cp-edit">
          {{ form_evento.famiglie }}
        </div>
      </div>
      
      <div class="cp-field submit">
        <button class="action-button submit-button" type="submit" action="submit">
          <div class="action-button-text active">Salva Evento</div>
          <div class="action-button-animation"></div>
        </button>
        
        <button class="action-button delete-button" type="button" action="delete">
          <div class="action-button-text active">Elimina Evento</div>
          <div class="action-button-animation"></div>
        </button>
      </div>
    </div>
  </form>
{% if cp.id == 'cp-eventi' %}
  </div>
{% endif %}