<div class="cp-list-item cp-list-edit-row {{ form_model }} cp-form">
  <form id="{{ form_name }}" class="save" action="javascript:void(0)">
    {% csrf_token %}
    
    <div class="cp-field-block block-1">
      <div class="cp-field {{ form_form.nome.name }} required">
        <!-- <label for="{{ form_form.nome.id_for_label }}">{{ form_form.nome.label }}</label> -->
        <div class="cp-edit field-data">
          {{ form_form.nome }}
        </div>
      </div>
    </div>
    
    <div class="cp-field-block block-2">
      <div class="cp-field submit">
        <button class="action-button submit-button" type="submit" action="submit">
          <div class="action-button-text active">Salva {{ form_item }}</div>
          <div class="action-button-animation"></div>
        </button>
      
        <button class="action-button delete-button" type="button" action="delete">
          <div class="action-button-text active">Elimina {{ form_item }}</div>
          <div class="action-button-animation"></div>
        </button>
      </div>
    </div>
  </form>
</div>