<div class="cp-list-item cp-list-edit-row model-edit cp-form">
  <form id="user" class="save" action="javascript:void(0)">
    {% csrf_token %}
    
    <div class="cp-field-block block-1">
      <div class="cp-field {{ form_utente_edit.username.name }} required">
        <label for="{{ form_utente_edit.username.id_for_label }}">{{ form_utente_edit.username.label }}</label>
        <div class="cp-edit field-text">
          {{ form_utente_edit.username }}
        </div>
      </div>
      
      <div class="cp-field {{ form_utente_edit.email.name }}">
        <label for="{{ form_utente_edit.email.id_for_label }}">{{ form_utente_edit.email.label }}</label>
        <div class="cp-edit field-text">
          {{ form_utente_edit.email }}
        </div>
      </div>
    </div>
    
    <div class="cp-field-block block-2">
      <div class="cp-field {{ form_utente_edit.first_name.name }} required">
        <label for="{{ form_utente_edit.first_name.id_for_label }}">{{ form_utente_edit.first_name.label }}</label>
        <div class="cp-edit field-text">
          {{ form_utente_edit.first_name }}
        </div>
      </div>
      
      <div class="cp-field {{ form_utente_edit.last_name.name }}">
        <label for="{{ form_utente_edit.last_name.id_for_label }}">{{ form_utente_edit.last_name.label }}</label>
        <div class="cp-edit field-text">
          {{ form_utente_edit.last_name }}
        </div>
      </div>
    </div>
    
    <div class="cp-field-block block-3">
      <div class="cp-field {{ form_utente_edit.groups.name }}">
        <label for="{{ form_evento.groups.id_for_label }}">Gruppi</label>
        <div class="cp-edit">
          {{ form_utente_edit.groups }}
        </div>
      </div>
      
      <div class="cp-field {{ form_utente_edit.famiglie.name }} famiglie_select">
        <label for="{{ form_evento.famiglie.id_for_label }}">Famiglie</label>
        <div class="cp-edit">
          {{ form_utente_edit.famiglie }}
        </div>
      </div>
    </div>
      
    <div class="cp-field-block block-4">
      <div class="cp-field submit">
  <!--         <input type="submit" value="Salva Evento"> -->
        <button class="action-button submit-button" type="submit" action="submit">
          <div class="action-button-text active">Salva Utente</div>
          <div class="action-button-animation"></div>
        </button>
        
        <button class="action-button delete-button" type="button" action="delete">
          <div class="action-button-text active">Elimina Utente</div>
          <div class="action-button-animation"></div>
        </button>
      </div>
    </div>
    
  </form>
</div>