<div class="cp-list-item cp-list-edit-row model-create cp-form">
    <form id="create_user" class="save" action="javascript:void(0)">
    {% csrf_token %}
    
    <div class="cp-field-block block-1">
      <div class="cp-field {{ form_utente_create.username.name }} required">
        <label for="{{ form_utente_create.username.id_for_label }}">{{ form_utente_create.username.label }}</label>
        <div class="cp-edit field-text">
          {{ form_utente_create.username }}
        </div>
      </div>
    </div>
    
    <div class="cp-field-block block-2">
      <div class="cp-field {{ form_utente_create.password1.name }} required">
        <label for="{{ form_utente_create.password1.id_for_label }}">{{ form_utente_create.password1.label }}</label>
        <div class="cp-edit field-text">
          {{ form_utente_create.password1 }}
        </div>
      </div>
    </div>
    
    <div class="cp-field-block block-2">
      <div class="cp-field {{ form_utente_create.password2.name }} required">
        <label for="{{ form_utente_create.password2.id_for_label }}">{{ form_utente_create.password2.label }}</label>
        <div class="cp-edit field-text">
          {{ form_utente_create.password2 }}
        </div>
      </div>
    </div>
      
    <div class="cp-field-block block-4">
      <div class="cp-field submit">
        <button class="action-button submit-button" type="submit" action="submit">
          <div class="action-button-text active">Crea Utente</div>
          <div class="action-button-animation"></div>
        </button>
      </div>
    </div>
    
  </form>
</div>