/**
* p3ll3
* Copyright (C) 2020  Andrea Pellegrini, <pelle@andreapellegrini.net>
* 
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Affero General Public License as published
* by the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU Affero General Public License for more details.
* 
* You should have received a copy of the GNU Affero General Public License
* along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

html, body {
  height: 100%;
  width: 100%;
  padding:0;
  margin:0;
  font-family: sans-serif;
  background-color: #f3f3f3;
}

body.fixed {
  position: fixed;
}

/* Loader */

.loooader {
  width: 40px;
  height: 40px;
  border: 4px solid white;
  border-top-color: #99ccff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Navbar */

#header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

#navbar {
  height: 45px;
  padding: 0;
  margin: 0;
  background-color: rgba(170, 190, 230, 0.7);
  box-shadow: 0px 5px 5px rgba(152, 152, 152, 0.3);
  text-align: center;
  font-size: 18px;
  line-height: 45px;
}

#navbar .left {
  float: left;
}

#navbar .center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#navbar .right {
  float: right;
}


#navbar .nav-item,
#navbar .nav-item-list,
#navbar .nav-menu-mobile-title {
  display: block;
  float: left;
  width: 90px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

#navbar .nav-item:hover,
#navbar .nav-item-list:hover,
#navbar .nav-menu-item:hover,
#navbar .nav-item-list.active {
  background-color: rgb(170, 190, 230);
  border-radius: 10px;
}

#navbar .nav-item.active {
  background-color: #e8e4e4;
  border-radius: 10px;
}

#navbar .nav-menu {
  display: none;
}

#navbar .nav-item-list:hover .nav-menu,
#navbar .nav-item-list.active .nav-menu {
  display: block;
}

#navbar .nav-menu-item {
  display: inline-block;
  width: 100%;
  background-color: rgb(195, 209, 237);
  color: black;
  text-decoration: none;
}

#navbar .nav-item-list,
#navbar .nav-menu-item:last-child {
  border-radius: 0px 0px 10px 10px;
}

#navbar .nav-mobile-title {
  display: none;
}

#navbar .nav-item-mobile-list {
  width: 500px;
}

#navbar .nav-menu-mobile-title {
  display: none;
  width: 100%;
}


/* Notification */
#notification {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}


#notification .notification-box {
  display: none;
  line-height: 36px;
  height: 35px;
  margin: 5px;
  padding: 0px 15px;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: black;
}


/* Footer */
#footer {
  min-height: 65px;
  margin-top: 20px;
  background-color: rgba(170, 190, 230, 0.7);
}

#footer .footer-info {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  line-height: 30px;
  text-align: center;
}

#footer .footer-info a {
 color: black;
}

#footer .footer-info > * {
  flex: 1;
  flex-basis: 200px;
}

#footer .git {
  background-image: url("/static/img/git.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: inline-block;
  height: 25px;
  width: 60px;
  margin-bottom: -8px;
}


/* Content */

#content {
  min-height: 100%;
  padding-top: 45px;
  width: 100%;
}

.content-block {
  width: 100%;
}

.content-cerca {
  height: 75px;
}


/* Login */
.auth {
  width: 300px;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid rgb(170, 190, 230);
  border-radius: 10px;
}

.auth .auth-field {
  margin: 10px;
  text-align: center;
}

.auth .auth-field.title {
  margin-top: 0;
}


.auth input,
.auth .action-button {
  display: inline-block;
  width: 95%;
  height: 35px;
  text-align: center;
  border: solid 1px black;
  border-radius: 10px;
  margin: auto;
  padding: 0 5px;
  font-family: sans-serif;
  font-size: 13px;
  outline: none;
}

.auth input:focus {
  box-shadow: inset 0px 0px 4px #99ccff;
  border-color: #99ccff;
}

.auth .submit {
  display: flex;
}

.auth .submit .action-button {
  width: 100%;
  height: 37px;
  border: 0;
  background-color: #66cc66;
  cursor: pointer;
  font-weight: 600;
}

.auth .submit .delete-button {
  background-color: #ff6060;
}

.auth .submit .action-button * {
  display: none;
}

.auth .submit .action-button .active {
  display: block;
}

.auth .submit .action-button .loooader {
  width: 20px;
  height: 20px;
  margin: auto;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 0.5);
  border-top-color: white;
}


.auth .auth-field.error {
  display: none;
}

.auth .auth-field.error .error-text {
  width: 99%;
  border: 1px solid red;
  border-radius: 10px;
  line-height: 37px;
  height: 35px;
  color: red;
}


/* Search */

.cerca-grid {
  position: absolute;
  width: 100%;
  height: 75px;
  margin: auto;
}

.cerca-grid .cerca-form {
  width: 100%;
  max-width: 530px;
  margin: 15px auto;
}

.cerca-form {
  display: flex;
  position: relative;
  line-height: 40px;
  border: solid 1px black;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 13px;
  margin: auto;
  z-index: 5;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: none;
  transition: box-shadow 0.3s;
}

.cerca-input {
  flex-grow: 1;
  line-height: 44px;
  box-sizing: border-box;
  margin-left: 15px;
  padding: 0;
  border: none;
  background: none;
  font-size: 18px;
  outline: none;
}

.cerca-form.active {
  box-shadow: inset 0px 0px 4px #99ccff;
  border-color: #99ccff;
}

.cerca-form .action-button {
  position: absolute;
  height: 45px;
  width: 35px;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.cerca-form .cerca-button {
  /* border-radius: 10px;
  background-color: #dadada; */
  margin-right: 7px;
  background: none;
}

.cerca-form .cerca-button .action-button-text {
  background-image: url("/static/img/cerca.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 35px;
  margin-right: -2px;
}

.cerca-form .reset-button {
  display: none !important;
  margin-right: 45px;
  border: none;
  background: none;
  cursor: pointer;
}

.cerca-form .reset-button .action-button-text {
  background-image: url("/static/img/chiudi-black.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  height: 16px;
  margin: auto;
}

.cerca-form .reset-button.active {
  display: inline-block !important;
}

.cerca-line-break {
  width: 100%;
}

.cerca-list {
  position: relative;
  width: 100%;
  line-height: 18px;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.cerca-list.active {
  max-height: 320px;
}

.cerca-list-item {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.cerca-list-item:hover {
  padding: 10px;
  background-color: rgba(170, 190, 230, 0.2);
}

.cerca-list-item .nome {
  flex-grow: 1;
}

.cerca-list-item .count {
  margin: 0 5px;
}

.cerca-list-item .count::before {
  content: "(";
}

.cerca-list-item .count::after {
  content: ")";
}

.cerca-list-item .view {
  margin-right: 10px;
}

.cerca-list-item.view-e .view::after {
  content: "Evento";
  color: lightgreen;
}

.cerca-list-item.view-p .view::after {
  content: "Parola";
  color: lightblue;
}

.cerca-list-item.view-a .view::after {
  content: "Autore";
  color: red;
}

.cerca-list-item.view-c .view::after {
  content: "Categoria";
  color: purple;
}


.cerca-empty {
  display: none;
}


/* Filters */

#filter-empty {
  display: none;
}

.filter-block {
  width: 100%;
  max-width: 532px;
  margin: auto;
}

.filter-box {
  position: relative;
  margin-bottom: 15px;
  border: 1px solid lightgreen;
  border-radius: 10px;
  padding: 10px;
  padding-left: 30px;
}

.filter-box .remove {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.filter-box .nome {
  display: block;
  margin-top: 2px;
  line-height: 16px;
  font-size: 16px;
}

.filter-box.filter- {
  border-color: black;
}

.filter-box.filter-e {
  border-color: lightgreen;
}

.filter-box.filter-p {
  border-color: lightblue;
}

.filter-box.filter-a {
  border-color: red;
}

.filter-box.filter-c {
  border-color: purple;
}


/* Files */

#file-grid-empty {
  display: none;
}

#file-grid .file-grid-row {
  display: flex;
  min-height: 100px;
  max-height: 204px;
  justify-content: space-around;
  margin: 0px 10px;
}

#file-grid .file-grid-row:nth-last-child(1) {
  justify-content: flex-start;
}

#file-grid .file-grid-item {
  position: relative;
  margin: 2px;
  border-radius: 10px;
  cursor: pointer;
}

#file-grid .file-grid-item .container {
  width: 100%;
  height: 100%;
  /* width: auto;
  height: auto; */
  border-radius: inherit;
}

#file-grid .file-grid-item img {
  display: block;
  width: 100%;
  position: relative;
  max-height: 200px; /* Fix for a little strip not covered by info. Occours only on 200px (max) height */
}

#file-grid .file-grid-img img {
  border-radius: inherit;
}

#file-grid .file-grid-item .info {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: inherit;
  color: white;
  z-index: 1;
  text-shadow: 0px 0px 5px #000;
}

#file-grid .file-grid-item .info .shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 100%;
  transition: opacity 0.3s;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) , rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.3));
}

#file-grid .file-grid-item:hover .info .shadow {
  opacity: 0;
}

#file-grid .file-grid-item:hover .title,
#file-grid .file-grid-item:hover .data,
#file-grid .file-grid-item:hover .count {
  opacity: 70%;
}


#file-grid .file-grid-item .download-box {
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px black);
}

#file-grid .file-grid-item .download-box .download-button {
  background-image: url("/static/img/download-white.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 23px;
  height: 23px;
  float: right;
}

#file-grid .file-grid-item .download-box.active .download-button {
  background-image: url("/static/img/download-black.svg");
}

#file-grid .file-grid-item .download-list {
  display: none;
  margin-top: 25px;
  line-height: 23px;
  text-align: right;
}

#file-grid .file-grid-item .download-box.active .download-list {
  display: block;
}

#file-grid .file-grid-item .download-box .download {
  opacity: 0;
  
}

#file-grid .file-grid-item .download-box.active .download {
  opacity: 100;
  transition: opacity 2s;
}


#file-grid .file-grid-item .count {
  position: absolute;
  top: 5px;
  right: 28px;
  z-index: 2;
  text-align: right;
  opacity: 100%;
  transition: opacity 0.3s;
}

#file-grid .file-grid-item .count::before {
  content: "(";
}

#file-grid .file-grid-item .count::after {
  content: ")";
}


#file-grid .file-grid-item .data,
#file-grid .file-grid-item .title {
  z-index: 2;
  position: absolute;
  width: 100%;
  opacity: 100%;
  transition: opacity 0.3s;
}

#file-grid .file-grid-item .data {
  top: 5px;
  left: 5px;
  text-align: left;
}

#file-grid .file-grid-item .title {
  display: -webkit-box;
  bottom: 0;
  width: 90%;
  max-height: 60px;
  line-height: 20px;
  padding: 1% 5%;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: center;
  font-size: 15px;
}

#file-grid .file-grid-img .info {
  height: 100%;
}


#file-grid .file-grid-evento {
  flex-basis: 200px;
}

#file-grid .file-grid-evento .container {
  display: flex;
  flex-wrap: wrap;
}

#file-grid .file-grid-evento.empty .container::after {
  content: "Nessuna Immagine";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 50%;
  text-align: center;
}


#file-grid .file-grid-evento .info {
  padding-top: 100%;
}

#file-grid .file-grid-evento img {
  flex-basis: 49%;
  min-width: 10px;
  height: 49%;
}

#file-grid .file-grid-evento img:nth-child(odd) {
  margin-right: 1%;
}

#file-grid .file-grid-evento img:nth-child(even) {
  margin-left: 1%;
}

#file-grid .file-grid-evento img:nth-child(1),
#file-grid .file-grid-evento img:nth-child(2) {
  margin-bottom: 1%;
}

#file-grid .file-grid-evento img:nth-child(3),
#file-grid .file-grid-evento img:nth-child(4) {
  margin-top: 1%;
}

#file-grid .file-grid-evento img:nth-child(1) {
  border-top-left-radius: inherit;
}

#file-grid .file-grid-evento img:nth-child(2) {
  border-top-right-radius: inherit;
}

#file-grid .file-grid-evento img:nth-child(3) {
  border-bottom-left-radius: inherit;
}

#file-grid .file-grid-evento img:nth-child(4) {
  border-bottom-right-radius: inherit;
}


#file-grid .file-grid-item.empty {
  flex-basis: 200px;
}

#file-grid .file-grid-item.empty img {
  margin: auto;
}

#file-grid .file-grid-item.empty .container {
  padding-top: 100%;
}

#file-grid .file-grid-item.empty img {
  visibility: hidden;
}


#file-grid .file-grid-item img:not([src]) {
  /* padding-top: 49%; */
  visibility: hidden;
}


#file-grid .file-grid-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 200px;
  opacity: 70%;
  text-align: center;
  text-shadow: none;
  transition: text-shadow 0.3s;
}

#file-grid .file-grid-more:hover {
  opacity: 100%;
  text-shadow: 0px 0px 50px black;
}

#file-grid .file-grid-more .more {
  width: 50px;
  margin: auto;
  margin-bottom: 0;
  font-size: 50px;
}

#file-grid .file-grid-more .count {
  margin: auto;
  margin-top: 0;
}

#file-grid .file-grid-more .count::before {
  content: "(";
}

#file-grid .file-grid-more .count::after {
  content: ")";
}

#file-grid .file-grid-item .loooader {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  /* margin-left: -15px; */
  margin-left: -20px;
}


#file-grid .file-grid-noresult {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 24px;
  cursor: default;
}

#file-grid .file-grid-loader {
  width: 100%;
}

#file-grid .file-grid-loader .loooader {
  margin: auto;
}


/* Slideshow */

#slideshow {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 20;
}

#slideshow .slideshow-image {
  height: 100%;
  width: 100%;
}

#slideshow .slideshow-image img {
/*
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
*/
  position: relative;
  display: block;
  margin: auto;
  height: 100%;
}

#slideshow .slideshow-image .loooader {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-top-color: black;
  opacity: 60%;
}

#slideshow .field {
  opacity: revert;
  transition: opacity 0.2s;
}

#slideshow.loading .field {
  opacity: 0 !important;
}

#slideshow .slideshow-details {
  position: fixed;
  text-shadow: 0px 0px 10px black;
  color: white;
}

#slideshow .slideshow-header {
  top: 0;
}

#slideshow .slideshow-header .keywords-list {
  margin-top: 15px;
  margin-left: 20px;
}

#slideshow .slideshow-header .keywords-item {
  display: block;
  opacity: 80%;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#slideshow .slideshow-header .keywords-item:hover {
  opacity: 100%;
}


#slideshow .slideshow-footer {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  margin: 1%;
}

#slideshow .slideshow-footer .field {
  align-self: flex-end;
  color: white;
  text-decoration: none;
}

#slideshow .slideshow-footer .meta-item {
  opacity: 80%;
}

#slideshow .slideshow-footer .evento {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  opacity: 80%;
}

#slideshow .slideshow-footer .evento-item.nome:not(:empty)::before {
  content: ": ";
}

#slideshow .slideshow-footer .evento-item.nome:not(:empty)::after {
  content: " -";
  margin-right: 4px;
}

#slideshow .slideshow-footer .autore {
  text-align: right;
  opacity: 80%;
  cursor: pointer;
}

#slideshow .slideshow-footer .evento:hover,
#slideshow .slideshow-footer .autore:hover {
  opacity: 100%;
}


#slideshow .slideshow-controls {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

#slideshow .slideshow-controls .control {
  opacity: 80%;
}

#slideshow .slideshow-controls .control:hover {
  opacity: 100%;
}

#slideshow .slideshow-controls .button {
  position: fixed;
}

#slideshow .slideshow-controls .button.hide {
  right: 0;
  padding: 20px;
}

#slideshow .slideshow-controls .button.download {
  right: 0;
  margin-right: 70px;
}

#slideshow .slideshow-controls .download-box .download-button {
  position: relative;
  z-index: 1;
  padding: 20px 13px;
}

#slideshow .slideshow-controls .download-box .download-button::after {
  content: url("/static/img/download.svg");
}

#slideshow .slideshow-controls .download-list {
  position: absolute;
  top: 60px;
  display: none;
  z-index: 3;
  line-height: 23px;
  color: white;
  text-align: center;
}

#slideshow .slideshow-controls .download {
  opacity: 80%;
}

#slideshow .slideshow-controls .download:hover {
  opacity: 100%;
}

#slideshow .slideshow-controls .navigate {
  position: fixed;
  width: 35%;
  height: 100%;
}

#slideshow .slideshow-controls .navigate.prev {
  left: 0;
}

#slideshow .slideshow-controls .navigate.next {
  right: 0;
}

#slideshow .slideshow-controls .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

#slideshow .slideshow-controls .navigate .icon {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

#slideshow .slideshow-controls .icon.download {
  width: 30px;
  height: 30px;
}

#slideshow .slideshow-controls .icon.hide {
  width: 30px;
  height: 30px;
}

#slideshow .slideshow-controls .icon.prev {
  left: 0;
  margin-left: 15px;
}

#slideshow .slideshow-controls .icon.next {
  right: 0;
  margin-right: 15px;
}

#slideshow .slideshow-controls .icon.next img {
  transform: rotate(180deg);
}


/* CP */
.cp {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 15;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.cp .cp-box {
  position: relative;
  width: 80%;
  margin: 4% auto;
  overflow: auto;
  border-radius: 10px;
/*   box-shadow: 0px 4px 8px black; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #ffffff;
}

.cp .cp-header,
.cp .cp-footer {
  width: 100%;
  line-height: 40px;
  min-height: 40px;
  background-color: rgb(170, 190, 230);
}

.cp .cp-content {

/*   background-color: #ffffff; */
}

.cp .cp-block {
  width: 97%;
  margin: 10px auto;
}

.cp .cp-header-item {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
}

.cp .cp-header-item.cp-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  background-image: url("/static/img/chiudi-black.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}

.cp .cp-footer-item {
  display: block;
  text-align: center;
}

.cp .cp-footer-item.cp-button {
  position: absolute;
  width: 70px;
  right: 0;
}

.cp .cp-button {
  cursor: pointer;
}

.cp .cp-button:hover {
  background-color: rgb(150, 180, 240);
}

.cp .cp-block-empty {
  display: none;
}


/* CP List */

.cp .cerca-cp {
  max-width: 430px;
  padding-bottom: 0px !important;
}

.cp .cerca-cp input {
  width: 100%;
}

.cp .cp-list {
  border-radius: 10px;
}

.cp .cp-list .cp-list-header,
.cp .cp-list .cp-list-footer,
.cp .cp-list .cp-list-row,
.cp .cp-list .cp-list-more,
.cp .cp-list .cp-list-noresult {
  display: flex;
  width: 100%;
  line-height: 37px;
  flex-wrap: wrap;
}

.cp .cp-list .cp-list-header,
.cp .cp-list .cp-list-footer {
  background-color: rgba(170, 190, 230, 0.7);
  text-align: center;
}

.cp .cp-list .cp-list-header {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.cp .cp-list .cp-list-footer {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.cp .cp-list .cp-list-footer .info {
  margin: auto;
}

.cp .cp-list .cp-list-more {
  height: 37px;
  font-size: 22px;
  cursor: pointer;
}

.cp .cp-list .cp-list-more .more,
.cp .cp-list .cp-list-noresult .container {
  margin: auto;
}

.cp .cp-list .cp-list-row:nth-child(odd) {
  background-color: rgba(170, 190, 230, 0.1)
}

.cp .cp-list .cp-list-row:nth-child(odd):hover {
  background-color: rgba(170, 190, 230, 0.3)
}

.cp .cp-list .cp-list-row:nth-child(even) {
  background-color: rgba(170, 190, 230, 0.2)
}

.cp .cp-list .cp-list-row:nth-child(even):hover {
  background-color: rgba(170, 190, 230, 0.4)
}

.cp .cp-list .cp-list-loader {
  height: 29px;
  padding: 4px 0;
}

.cp .cp-list .cp-list-loader .loooader {
  width: 22px;
  height: 22px;
  margin: auto;
  line-height: 22px;
  text-align: center;
}

.cp .cp-list .cp-list-item {
  margin: auto;
}

.cp .cp-list .cp-list-edit-row {
  flex-basis: 100%;
}

.cp .cp-list .cp-list-item:not(.cp-list-edit-row) {
  flex: 1;
}

.cp .cp-list .cp-list-item.justified {
  padding-left: 30px;
}

.cp .cp-list .cp-list-item.centered {
  text-align: center;
}

.cp .cp-list .cp-list-item.overflowed {
  line-height: 20px;
}


.cp .cp-list .cp-list-item.controls {
  flex: none;
  display: flex;
  width: 90px;
  height: 30px;
  margin: auto;
  text-align: center;
  line-height: 30px;
}

.cp .cp-list .cp-list-action {
  flex: 1;
  cursor: pointer;
}

.cp .cp-list .cp-list-action.edit {
  width: 30px;
  background-image: url("/static/img/edit.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  opacity: 100%;
}

.cp .cp-list .cp-list-action.active {
  opacity: 70%;
}

.cp .cp-list .cp-list-action.download {
  width: 30px;
  background-image: url("/static/img/download-black.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.cp .cp-list .cp-list-action.filtra {
  width: 30px;
  background-image: url("/static/img/cerca.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.cp .cp-list .cp-list-item.data {
  flex: 1.5;
  margin: auto 5px;
}

.cp .cp-list .cp-list-item.nome,
.cp .cp-list .cp-list-item.name,
.cp .cp-list .cp-list-item.luogo_f,
.cp .cp-list .cp-list-item.categorie_f,
.cp .cp-list .cp-list-item.users_f,
.cp .cp-list .cp-list-item.famiglie_f {
  flex: 3;
}

.cp .cp-list .cp-list-item.categorie_f {
  font-style: italic;
  font-size: 13px;
}

.cp .cp-list .cp-list-item.count {
  flex: none;
  width: 40px;
  text-align: center;
}

.cp .cp-list .cp-list-item.count::before {
  content: "(";
}

.cp .cp-list .cp-list-item.count::after {
  content: ")";
}

.cp .cp-list .cp-list-item.first_name {
  padding-right: 3px;
  text-align: right;
}

.cp .cp-list .cp-list-item.last_name {
  padding-left: 3px;
  text-align: left;
}


/* CP Forms */
.cp-field input,
.cp-field select,
.cp-field textarea,
.cp-field .action-button {
  display: inline-block;
  width: 90%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: solid 1px black;
  border-radius: 10px;
  margin: auto;
  padding: 0 10px;
  font-family: sans-serif;
  font-size: 13px;
  outline: none;
  box-shadow: none;
  transition: box-shadow 0.3s;
}

.cp-field textarea {
  line-height: initial;
}

.cp-field input:focus,
.cp-field select:focus,
.cp-field textarea:focus {
  box-shadow: inset 0px 0px 4px #99ccff;
  border-color: #99ccff;
}

.cp-field label {
  display: block;
  text-align: center;
}


.cp-field.submit {
  display: flex;
}

.cp-field.submit .action-button {
  width: 130px;
  height: 37px;
  border: 0;
  background-color: #66cc66;
  cursor: pointer;
  font-weight: 600;
}

.cp-field.submit .delete-button {
  background-color: #ff6060;
}

.cp-field.submit .action-button * {
  display: none;
}

.cp-field.submit .action-button .active {
  display: block;
}

.cp-field.submit .action-button .loooader {
  width: 20px;
  height: 20px;
  margin: auto;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 0.5);
  border-top-color: white;
}

.cp .cp-selector {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 10px;
}

.cp .cp-selector .cp-selector-field {
  flex: 1;
  text-align: center;
  line-height: 40px;
  background-color: rgba(170, 190, 230, 0.4);
  cursor: pointer;
}

.cp .cp-selector .cp-selector-field.active {
  background-color: rgba(170, 190, 230, 0.8);
  font-weight: 600;
}

.cp .cp-selector .cp-selector-field:nth-child(1) {
  margin-left: 15px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-right: 1px solid white;
}

.cp .cp-selector .cp-selector-field:nth-child(2) {
  margin-right: 15px;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.cp .cp-selector .filter-box {
  width: 100%;
  margin-top: 0;
}


.cp .cp-form {
  display: none;
}

.cp .cp-form.active {
  display: block;
}

.cp .cp-form form {
  display: flex;
  flex-wrap: wrap;
}

.cp .cp-field-block {
  width: 30%;
  margin: 0 auto;
}

.cp .cp-field-block.block-3 .cp-field.submit {
  height: 100%;
  margin: auto;
}
/*

.cp .cp-field-block.block-4 {
  width: 80%;
}
*/

.cp .cp-field-block.block-4 select {
  /* padding: 0; */
  /* width: 100% !important; */
}



.cp .cp-field {
  margin: 15px 0;
}

.cp .cp-field label {
  line-height: 17px;
  margin-bottom: 5px;
}

.cp .cp-field.required label::after {
  content: "*";
  color: red;
}

.cp .cp-edit.field-data {
  display: flex;
}

.cp .cp-edit.field-data select {
  flex: 1;
  height: 37px;
  margin: 0 3%;
}

.cp .cp-field.data_fine {
  display: none;
}

.cp .cp-field.data_fine.active {
  display: block;
}

.cp .cp-edit input,
.cp .cp-edit select,
.cp .cp-edit textarea,
.cp .action-button {
  display: block;
}

.cp .cp-edit input[type="checkbox"] {
  width: 19px;
  height: 19px;
  margin: 9px auto;
}

.cp .cp-edit select[multiple] {
  padding: 0;
  height: 79px;
}

.cp .cp-edit select[multiple] option {
  line-height: 20px;
}

.cp .cp-edit textarea {
  width: 84%;
  height: 49px;
  line-height: initial;
  padding: 3%;
}


#cp-upload .delete-button {
  display: none;
}

.cp .cp-field.evento_select .submit-button {
  width: 160px;
}
.cp .cp-field.evento_select select {
  width: 100%;
}

.cp .cp-field.file input {
  width: 93%;
  line-height: 36px;
  text-align: left;
}

.cp .cp-field.groups select,
.cp .cp-field.famiglie select {
  width: 96%;
}


.cp .cp-field.progress {
  display: none;
}

.cp .cp-field.progress .progress-box {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid black;
}

.cp .cp-field.progress .progress-bar {
  width: 0;
  height: 100%;
  border-radius: 9px;
  background-color: #66cc66;
  text-align: center;
  display: flex;
}

.cp .cp-field.progress .progress-text {
  margin: auto;
}

.cp .cp-field.progress .progress-text::after {
  content: "%";
}



@media only screen and (max-width: 800px) {
  #navbar .nav-mobile-title {
    display: block;
    height: 45px;
    background-color: rgb(170, 190, 230);
  }
  
  #navbar .sandwich {
    width: 30px;
    padding: 10px;
    cursor: pointer;
  }
  
  #navbar .sandwich * {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #000;
    transition: 0.3s;
  }
  
  #navbar .sandwich .fill {
    margin: 6px 0;
  }
  
  #navbar .sandwich.active .bread:first-child {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
  }
  
  #navbar .sandwich.active .fill {
    opacity: 0;
  }
  
  #navbar .sandwich.active .bread:last-child {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
  }
  
  #navbar .nav-block-menu {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgb(170, 190, 230);
  }
  
  #navbar .nav-block-menu.active {
    display: block;
  }
  
  #navbar .nav-block {
    display: flex;
    flex-wrap: wrap;
    float: none;
  }
  
  #navbar .nav-item {
    flex-basis: 50%;
  }
  
  #navbar .nav-item.view-,
  #navbar .nav-item-list {
    flex-basis: 100%;
  }
  
  #navbar .nav-menu.active {
    display: flex;
    flex-wrap: wrap;
  }
  
  #navbar .nav-item-list:hover .nav-menu {
    display: none;
  }
  
  #navbar .nav-item-list.active .nav-menu {
    display: flex;
    flex-wrap: wrap;
  }
  
  #navbar .nav-menu-title .text::before {
    display: inline-block;
    width: 15px;
    content: "+";
  }
  
  #navbar .nav-item-list.active .nav-menu-title .text::before {
    content: "-";
  }
  
  #navbar .nav-item-list, #navbar .nav-menu-item:last-child {
    border-radius: revert;
  }
  
  .cerca-form,
  .filter-block {
    max-width: 350px !important;
    width: 95% !important;
  }
  
  
  #slideshow .slideshow-image .field.image {
    top: 50%;
    transform: translate(0, -50%);
    height: auto;
    width: 100%;
  }
  
  #slideshow .slideshow-footer {
    bottom: 0;
  }
  
  #slideshow  .slideshow-footer .field {
    order: 2;
    flex-basis: 50%;
    margin: 3px 0;
    align-self: center;
    text-align: center;
  }
  
  #slideshow  .slideshow-footer .meta-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    font-size: 12px;
  }
  
  #slideshow  .slideshow-footer .meta-item {
    display: inline-block;
    margin: 0 5px;
  }
  
  #slideshow  .slideshow-footer .meta-item.focal {
    break-after: always;
  }
  
  #slideshow .slideshow-footer .evento {
    flex-basis: 100%;
    order: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #slideshow .slideshow-footer .evento-item {
    flex: 1;
    flex-basis: 100%;
    margin: 0;
  }
  
  #slideshow .slideshow-footer .evento-item.nome::before,
  #slideshow .slideshow-footer .evento-item.nome::after {
    content: "" !important;
    margin: 0;
  }
  
  #slideshow .slideshow-controls,
  #slideshow .slideshow-details {
    transition: opacity 0.4s;
  }
  
  #slideshow.nocontrols .slideshow-controls,
  #slideshow.nocontrols .slideshow-details {
    opacity: 0 !important;
  }
  
  
  .cp .cp-box {
    width: 90%;
  }
  
  .cp .cp-list .cp-list-row {
    padding: 2% 0px;
  }
  
  .cp .cp-list .cp-list-row:nth-child(even) {
    background-color: rgba(170, 190, 230, 0.3)
  }
  
  .cp .cp-list .cp-list-header .cp-list-item {
    display: none;
  }
  
  .cp .cp-list .cp-list-header .cp-list-item.controls {
    display: revert;
  }
  
  .cp .cp-list .cp-list-body .cp-list-item {
    line-height: 18px;
    flex-basis: 100%;
    align-self: center;
    text-align: center;
  }
  
  .cp .cp-list .cp-list-body .cp-list-item.data {
    flex-basis: 50%;
    order: 1;
    margin: 0;
  }
  
  .cp .cp-list .cp-list-body .cp-list-item.nome {
    flex-basis: 38%;
    font-weight: 600;
    order: 1;
  }
  
  #cp-eventi .cp-list .cp-list-body .cp-list-item.nome {
    order: 4;
  }
  
  .cp .cp-list .cp-list-body .cp-list-item.luogo_f {
    order: 4;
    font-size: 14px;
  }
  
  .cp .cp-list .cp-list-body .cp-list-item.categorie_f {
    order: 4;
  }
  
  .cp .cp-list .cp-list-body .cp-list-item.count {
    flex: 1;
    order: 3;
    flex-basis: 15%;
    margin: 0;
    font-size: 14px;
    text-align: left;
  }
  
  .cp .cp-list .cp-list-body .cp-list-item.controls {
    flex-basis: 35%;
    flex-grow: 1;
    order: 2;
    height: 18px;
  }
  
  .cp .cp-list .cp-list-body .cp-list-action {
    background-size: 20px;
    height: 16px;
  }
  
  .cp .cp-field-block {
    width: 95%;
  }
  
  .cp-field input,
  .cp-field textarea {
    width: 93% !important;
  }
  
  .cp-field select {
    width: 100%;
  }
  
  .cp .cp-edit.field-data select:nth-of-type(1)/*,
  .cp .cp-field.submit .action-button:first-child*/ {
    margin-left: 0px;
  }
  
  .cp .cp-edit.field-data select:nth-last-of-type(1)/*,
  .cp .cp-field.submit .action-button:last-child*/ {
    margin-right: 0px;
  }
  
  .cp .cp-selector {
    width: 95%;
    flex-direction: column;
  }
  
  .cp .cp-selector .cp-selector-field:nth-child(1) {
    flex: 1;
    margin: 0;
    border-radius: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border: 0;
    border-bottom: 1px solid white;
  }
  
  .cp .cp-selector .cp-selector-field:nth-child(2) {
    flex: 1;
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
  
  .cp .cp-selector .filter-box {
    width: auto;
    margin: 0;
  }
  
  @media only screen and (max-width: 450px) {
    .auth {
      width: 275px;
    }
    
    .cerca-form,
    .filter-block {
      max-width: 100% !important;
    }
  }
}